.wave {
  width: 100vw;
  vertical-align: middle;
}

.footerTop {
  background-image: linear-gradient(90deg, #4fb2ce, #277ba0);
  padding: 6rem;
}

.footerTop h2 {
  font-size: 36px;
  margin: 0;
  line-height: 1.5em;
}

.footerCtn {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerCtn p {
  font-size: 20px;
  line-height: 1.5em;
  width: 35%;
  text-align: center;
  margin: 3rem 0;
}

.footerNav {
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: 88vw;
}

.footerNav .logoSocial {
  width: 35%;
}
.footerNav img {
  margin: 0 0 1rem 0;
}

.footerNav .socialMediaBar {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 1rem;
}

.footerNav .socialMediaBar img {
  height: 15px !important;
  /* margin-right: 2%; */
}

.footerNav .footerSubNav {
  width: 15%;
}

.footerNav .footerSubNav h3 {
  color: rgb(59, 94, 110);
}

.footerNav .footerSubNav ul {
  padding: 0;
}

.footerNav .footerSubNav li {
  margin: 1rem 0;
  list-style-type: none;
}

.footerNav .footerSubNav a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(147, 155, 159);
}

.footerNav .footerSubNav p {
  font-size: 14px;
  color: rgb(148, 165, 182);
}

.footerBotBar {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

.copyright {
  color: rgb(147, 155, 159);
  font-size: 10px;
  line-height: 1.4rem;
  width: 50%;
}

.subscribe {
  color: rgb(147, 155, 159);
  font-size: 12px;
  margin-left: 32%;
}

.subscribe a {
  padding: 11px 65px 12px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-color: #008dcc;
  border-radius: 12px;
  color: #277ba0;
  font-size: 16px;
  cursor: pointer;
}

.subscribe a:hover {
  box-shadow: 1px 3px 3px #000;
}

.subscribe p {
  font-size: 12px;
  width: 75%;
  margin-top: 2rem;
}


.wave {
    max-width: 100%;
    margin-bottom: 0;
    border: 0px solid black;
    vertical-align: middle
}